<!-- head -->
{% block head %}
    <!-- show title1 -->
    <head>
        {% if title %}
            <title>{{title}} - Notebook On Web</title>
        {% else %}
            <title>Notebook On Web -- 你的网上笔记本</title>
        {% endif %}
    </head>

    <!-- show user -->
    {% if usr %}
        <p>你好，{{usr}}</p>
    {% else %}
        <p>你好，访客</p>
    {% endif %}

    <!-- show title2 -->
    {% if title %}
        <h1>{{title}}</h1>
    {% else %}
        <h1>Notebook On Web--你的网上笔记本</h1>
    {% endif %}

    <a href={{url_for("home")}}>主页面</a>
    {% if usr %}
        <a href={{url_for("logout")}}>注销</a>
    {% else %}
        <a href={{url_for("login")}}>登录</a>
    {% endif %}
{% endblock %}

<!-- body -->
{% block body %}
{% endblock %}
