{% extends "base.html" %}

{% block body %}
    <form action="" method="post">
        {{form.hidden_tag()}}
        <p>
            {{form.title.label}} {{form.title()}}
            {% for error in form.title.errors %}
            <br /><span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.note.label}} {{form.note()}}
            {% for error in form.title.errors %}
            <br /><span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.public.label}} {{form.public()}}
            {% for error in form.public.errors %}
            <br /><span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.submit}}
        </p>
    </form>
{% endblock %}
